<!-- <main class="profile-page">
        <section class="section-profile-cover section-shaped my-0">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h1 class="display-4">Escamontage</h1>
                  <p> Benvenuti alla lettura!</p>
                </div>
              </div>
            </section>
-->  
  

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Jumbotron Image!</h1>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://tonancos.com/26dY" target="_blank" role="button">Learn more</a>
  </p>
  </div>
</div>

