.jumbotron {
    color: rgb(228, 206, 83);
    background-image: url("/immagini/home-sito-edizioni.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 50vh;

  }
