.jumbotron {
    color: rgb(228, 206, 83);
    background-image: url("/immagini/home-sito-edizioni.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    height: 50vh;

  }
