.jumbotron {
    color: rgb(228, 206, 83);
    background-image: url("/immagini/libri.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150vh;

  }
